.menu{
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", Courier, monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  & .MuiCard-root{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
}

.filters-list{

  & .MuiListSubheader-root{
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
  }

  & .MuiListItemButton-root{
    border: 1px solid transparent;

    & .MuiTypography-root{

      transition: all 250ms ease-in-out;
    }

    &.Mui-selected{
      background: rgba( 255, 255, 255, 0.25 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 5px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      & .MuiTypography-root {

      }
    }

    &:hover{
      & .MuiTypography-root {

      }
    }
  }
}