@import "./../../app/util/variables";

.product-details {
  background-color: $light-background;
  height: 100vh;
  width: 100%;

  & .product-details-container {
    background-color: $light-background;
  }

  & .quantity {
    & .btn-dark {
      height: 42px;
      width: 42px;
    }

    & p {
      font-size: 2rem;
      text-align: center;
      min-width: 7rem;
    }
  }

  & .price {
    & p {
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
}

@media (min-width: 992px) {
  .product-details {
    background-image: url("../../images/backgrounds/product_details_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  & .product-details-container {
    position: relative;
    background: inherit;
    border-radius: 1rem;
    z-index: 1;

    &:hover {
      &::before {
        opacity: 0.9;
      }

      &::after {
        opacity: 0.7;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 1rem;
      z-index: -3;
      background: inherit;
      filter: blur(20px);
      opacity: 0.7;
      transition: all 250ms ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 1rem;
      z-index: -1;
      background: $light-background;
      opacity: 0.5;
      transition: all 250ms ease-in;
    }
  }
}
