.specialities {
  height: 100%;
  width: 100%;
  color: #f7f7f7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("/images/backgrounds/sections/specialities_section_bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  font-family: "Montserrat", Courier, monospace;

  & .item {
    &:hover {
      & .item-img {
        filter: grayscale(0);
        transform: scale(1.1);
      }
      & .text-container {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  & .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(15, 18, 66, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    transform: scale(1);
    transition: all 250ms ease-in-out;
  }

  & .item-img {
    filter: grayscale(70%);
    transition: all 250ms ease-in;
  }
}
