@import "./../util/variables";
.navbar-dark {
  background-color: rgba($color: #000000, $alpha: 0.7);

  & .navbar-brand {
    transform: scale(1);
    transition: all 350ms ease-in-out;
    & span {
      color: rgba($color: #fff, $alpha: 0.4);
      font-size: 1em;
      transform: scale(0);
      transition: all 350ms ease-in-out;
    }
    &:hover {
      transform: scale(1.2);
      & span {
        background-color: inherit;
        color: $accent-color;
      }
    }
  }

  & .navbar-nav {
    & .nav-link {
      text-transform: uppercase;
      transition: all 200ms ease-in-out;
      &.active {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        &::first-letter {
          color: $accent-color;
        }
      }
    }
  }
}

.nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 800;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.side-menu {
  &.offcanvas-end {
    &.show {
      width: 600px;
    }
  }
  & .offcanvas-header {
    background-color: $dark-background;
    color: white;
  }

  & .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;

    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;

    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;

    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }
}

@media (min-width: 992px) {
  .nav-bar {
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}
