.header {
  & .MuiAppBar-root {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
  }

  //& .MuiBottomNavigation-root {
  //  background-color: rgba(0, 0, 0, 0.7) !important;
  //  color: white !important;
  //}




  & .user-menu {
    text-decoration: none;
    color: white;

  }

}

.pages-list{
  & .MuiListItem-root {
    & .MuiTypography-root {
      opacity: .7;
      transition: all 300ms ease-in-out;
    }

    &.Mui-selected {
      background-color: transparent;

      & .MuiTypography-root {
        opacity: 1;
        font-weight: 800;
      }
    }

  }
}