.header {
  & .user-menu {
    text-decoration: none;
    color: white;
  }
}

.pages-list {
  & .MuiListItem-root {
    color: white;



    & p {
      opacity: .5;
      transition: all .5s ease-in-out;


      &:hover{
        letter-spacing: .1rem;
      }
    }

    & .MuiListItemText-primary {
      text-transform: uppercase;
      opacity: 0.5;
      font-weight: 400;
    }



    &.Mui-selected {
      background-color: transparent;
      transition: all .5s ease-in-out;
      & p {
        opacity: 1;
        font-weight: 700;
      }

      & .MuiListItemText-primary {
        opacity: 1;
        font-weight: 700;
      }
    }
  }
}

