.header {
  & .user-menu {
    text-decoration: none;
    color: white;
  }
}

.pages-list {
  & .MuiListItem-root {
    color: white;
    & .MuiListItemText-primary {
      text-transform: uppercase;
      opacity: 0.5;
      font-weight: 400;
    }

    &.Mui-selected {
      background-color: transparent;
      & .MuiListItemText-primary {
        opacity: 1;
        font-weight: 700;
      }
    }
  }
}
