.header-mobile{
  font-size: 2rem;
  & .MuiListItem-root {
    background-color: red;
    & .MuiTypography-root {
      opacity: .7;
      transition: all 300ms ease-in-out;
    }

    &.Mui-selected {
      background-color: transparent;

      & .MuiTypography-root {
        opacity: 1;
        font-weight: 800;
      }
    }
  }
}

