@import "./../../../app/util/variables";

.testimonials {
  color: white;
  position: relative;
  background-color: $dark-background;
}

@media (min-width: 992px) {
  .testimonials {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    padding: 10rem;
    background-color: $accent-color;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 110%;
      width: 100%;
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
      background-color: $dark-background;
      transform: skew(0deg, 6deg);
      z-index: -3;
    }
  }
}
